/*

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

*/

/* Body 
------------------------------------- */
body {
    font-style: normal;
    font-weight: 300;
    position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}


/* Typography
------------------------------------- */

h1,h2,h3,h4 {
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h1 {
  color: #000;
  font-size: 1.7rem;
  font-weight: 700;
}

h2 {
  color: rgb(43,72,80);
  font-weight: bold;
  font-size: 1.4rem;
}

h3 {
  color: #444;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 4px;
}

h4 {
  color: #444;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

h5 {
  font-weight: 100;
  font-size: 1.0rem;
  letter-spacing: 2px;
  padding-top:20px;
}

p {
   margin: 15px;
}

a {
  outline: none;
  text-decoration: none;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

img {
  width: 100%;
  max-width: 100%;
}

.rWhite {
	color: rgb(254,254,254); 
}

.r2font {
	color: rgb(254,254,254); 
	font-size: 1.3rem;
}

.r3font {
	color: #c8ece9;
	font-size: 1.1rem;
	font-style: normal;
	letter-spacing: 0px;
	padding : 10px 0 0 0 ;
}
@media (max-width: 768px) {

  .r2font {
    font-size: 1.1rem;
	
  }
  .r3font {
    font-size: 0.9rem;
  }
 
}

.rbody {
	background: rgb(27,157,159); 
	font-color: rgb(254,254,254); 
    font-style: normal;
    font-weight: 300;
    position: relative;
	text-align: center;
}

.dbody {
	background: rgb(242,242,242); 
	font-color: rgb(254,254,254); 
    font-style: normal;
    font-weight: 300;
    position: relative;
}

.rbtn {
  background-color: rgb(46, 56, 66);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgb(254,254,254); 
  border: 1px;
  width: 300px;
  border-radius: 15px;
  padding : 17px 2px 19px 2px;
  margin-top : 20px;
  transition: all 0.4s ease-in-out;
}
.arrow-right::after {
	content: '→';
	font-size: 23px;
}
@media (max-width: 768px) {

 .rbtn {
  font-size: 14px;
}
 
}

.rhr {
	background: rgb(46, 56, 66);
    border-top: 1px solid rgb(46, 56, 66);
}
/* preloader styles
/* ========================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #111112;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }


.headerHr {
	 border: 1px solid color: rgb(43,72,80); 
	 margin-top : 20px;
}

.countM {
  color: #444;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
}

.countD {
  color: rgb(43,72,80);
  font-weight: bold;
  font-size: 22px;
  margin-top : 10px;
}


/* 반응형 디자인 (모바일 화면) */
@media screen and (max-width: 768px) {
	.countM {
	  color: rgb(43, 72, 80);
	  font-size: 15px;
	  font-weight: bold;
	  letter-spacing: 4px;
	    margin-top : 40px;
	}
	
    .countD {
	  color: rgb(43, 72, 80);
	  font-weight: bold;
	  font-size: 20px;
	   margin-top : 5px;
	
	}
}


/* navigation styles
/* ========================================== */
.nav-container,
.navbar {
  background: transparent;
  height: 74px;
  max-height: 94px;
  margin: 0;
  border-radius: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.navbar {
    position: fixed; /* 상단 고정 */
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, rgb(27, 157, 159), rgb(37, 168, 171)); /* 그라데이션 배경 */
    color: #fff; /* 텍스트 색상 */
    z-index: 1000; /* 다른 콘텐츠보다 위에 표시 */
    padding: 15px 0; /* 상하 여백 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 미세한 그림자 추가 */
}

/* 브랜드 스타일 */
.navbar .brand a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    text-transform: uppercase;
}

/* 메뉴 아이콘 스타일 */
.navicon .menu-container .circle {
    font-size: 30px;
    color: white;
    cursor: pointer;
}


/* 반응형 디자인 (모바일 화면) */
@media screen and (max-width: 768px) {
    .navbar .container .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .brand a {
        font-size: 18px;
    }
}

.brand {
  float: left;
  padding: 10px 0 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.brand a {
  color: #333;
  font-size: 15px;
  font-weight: 650;
  opacity: 1;
  text-decoration: none;
}

.navicon {  
  position: relative;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

nav ul {
  display: inline-block;
}

nav ul.right {
  float: right;
  right: 0
}

#nav-menu a {
  font-weight: bold;
  font-size: 21px;
  color: #A8A8A8;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

#nav-menu a:hover, #nav-menu a:hover:focus {
    color: #2DDCDE;
}

#nav-menu li {
  list-style: none;
  padding: 6px;
}

.nav-text-light a {
  color: #ffffff;
}

.sticky .nav-text-light a {
  color: #555555;
}


@media all and (max-width: 768px) {
  .nav-text-light a {
    color: #555555;
  }
  .nav-inner {
    background: #ffffff;
  }
  .transparent {
    background: transparent;
  }
  .navicon {
    padding-right: 10px;
  }
  nav ul.right {
  float: left;
  }
  
  #nav-menu a {
  font-size: 18px;
}
}

a.icon {
  font-size: 32px;
  padding-right: 20px;
}

.intro-inner {  
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.close {
  font-family: inherit;
  font-size: 32px;
  font-weight: 300;
  text-shadow: none;
}
.close:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.circle {
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
  z-index: 99;
  padding: 4px 0 0;
}

.circle i {
  font-size: 36px;
  color: #111112;
}

.circle.dark {
  border-color: #292929;
}

.circle.dark:before {
  border-color: transparent transparent transparent #292929;
}

.circle.large {
  height: 120px;
  width: 120px;
  margin-top: -60px;
  margin-left: -60px;
}

.circle.large:before {
  margin-top: -18px;
  margin-left: -10px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 31.0px;
  border-color: transparent transparent transparent #ffffff;
}

.circle.large.dark:before {
  border-color: transparent transparent transparent #292929;
}

.circle.inline {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  z-index: 0;
}

@media all and (max-width: 768px) {
  .circle.large {
    width: 90px;
    height: 90px;
    margin-top: -45px;
  }
  .circle.large:before {
    margin-top: -14px;
    margin-left: -8px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25.0px;
    border-color: transparent transparent transparent #fff;
  }
}

.list-menu {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: #333333;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  opacity: 0;
  z-index: -1;
}

.list-menu.reveal-modal {
  opacity: 1;
  z-index: 999999;
  visibility: visible;
}

.list-menu .ion-close-round {
  font-size: 25px;
  position: absolute;
  top: 32px;
  right: 32px;
  color: #A8A8A8;
  cursor: pointer;
}

/* header section styles
/* ========================================== */
#header {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 100px;
}

#header .header-thumb {
  border: 0px solid #f9f9f9;
}

.header-one .header-thumb {
  padding: 32px 20px 32px 20px !important;
}

.header-sub .header-thumb {
  padding: 0px 20px 0px 20px !important;
}

.header-sub{
  height: 18vh !important;
  min-height: 380px;
  padding-top: 80px !important;
}

.header-sub h1{
  font-size: 24px;
  color: rgb(43,72,80);
}

.header-one {
  background: url('../images/header-bg.jpg') no-repeat;
  height: 46vh !important;
  min-height: 620px;
  padding-top: 35px !important;
}
.header-sub {
  background: url('../images/header-bg.jpg') no-repeat;
}

@media (max-width: 768px) {
   .header-one{
          padding-top: 70px !important;
   }
   
   .header-sub{
	  min-height: 290px;
	  padding-top: 60px !important;
	}

	.header-sub h1{
	  font-size: 21px;
	  color: rgb(43,72,80);
	}
}

/* Portfolio section styles
/* ========================================== */
#portfolio {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

#portfolio img {
  width: 100%;
}

#portfolio .portfolio-thumb {
  position: relative;
  overflow: hidden;
  margin: 0;
} 

#portfolio .portfolio-thumb .portfolio-overlay {
  background: #141414;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}

#portfolio .portfolio-thumb .portfolio-overlay .portfolio-item {
    text-align: center;
    padding: 30% 20px 20px;
}

#portfolio .portfolio-thumb .portfolio-overlay .fa {
    background: #f9f9f9;
    border-radius: 100px;
    color: #141414;
    font-size: 1.3rem;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4px;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    color: #666;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 17px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:active {
  background: #111112 !important;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  background: #111112;
  color: #ffffff;
}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.fluid-img {
    width: 100%;
    display: block;
}

/* single project section styles
/* ========================================== */
#single-project {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#single-project .project-info {
  padding-bottom: 10px;
}

#single-project img {
  padding-top: 14px;
}

/* news section styles
/* ========================================== */

#news {
	line-height: 1.6; /* 문장 간 간격을 넓혀서 읽기 쉽게 */
   flex: 1; /* main 영역이 가능한 공간을 차지하게 함 */
}

/* about section styles
/* ========================================== */

#about {
	
   line-height: 1.6; /* 문장 간 간격을 넓혀서 읽기 쉽게 */
   flex: 1; /* main 영역이 가능한 공간을 차지하게 함 */
}

#about h3 {
   font-size: 20px; /* 제목 크기 조정 */
   font-weight: bold; /* 제목을 더 돋보이게 */
   margin-top: 30px; /* 제목 위 여백 추가 */
   margin-bottom: 20px; /* 제목 아래 여백 추가 */
}

#about p {
   font-size: 16px; /* 본문 글자 크기 */
   margin-top: 20px; /* 문단 위 여백 */
   margin-bottom: 20px; /* 문단 아래 여백 */
   padding: 0 15px; /* 좌우 여백 추가 */
}

#about .container {
   padding: 0 30px; /* 왼쪽, 오른쪽 여백을 추가해 내용이 밀리지 않도록 */
}

#about .row {
   margin-bottom: 40px; /* 각 항목 간 여백을 충분히 두어 구분감 있게 */
}

@media (max-width: 768px) {
   #about h3 {
      font-size: 17px; /* 작은 화면에서는 제목 크기 축소 */
   }
   #about p {
      font-size: 15px; /* 본문 글자 크기도 축소 */
   }
}

/* outline & single post section styles
/* ========================================== */

#outline {
	line-height: 1.6; /* 문장 간 간격을 넓혀서 읽기 쉽게 */
   flex: 1; /* main 영역이 가능한 공간을 차지하게 함 */
}

#outline, 
#single-post {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#outline .blog-thumb {
  padding-top: 60px;
  padding-bottom: 40px;
}

#outline .post-format,
#single-post .post-format {
  padding-top: 30px;
  padding-bottom: 10px;
}

#outline .post-format span,
#single-post .post-format span {
  color: #888;
  font-weight: 400;
  letter-spacing: 1px;
  padding-right: 10px;
}

#outline .blog-thumb .btn {
  border-radius: 0px;
  padding: 10px 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 22px;
  transition: all 0.4s ease-in-out;
}
#outline .blog-thumb .btn:hover {
  background: #111112;
  border-color: transparent;
  color: #ffffff;
}

#outline .post-details {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


#outline table {
  width: 70%; /* 원하는 테이블 너비 */
  margin-left: 10px; /* 테이블을 왼쪽에서 20px 만큼 오른쪽으로 이동 */
  border-collapse: collapse; /* 셀 경계선 결합 */
}

#outline  table th, table td {
  padding: 15px 50px; /* 셀 내부 여백을 추가하여 행 높이 조정 */
  border: 1px solid #ddd;
  text-align: l2ft;
}



#outline .post-details td {
	font-size: 17px;
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;

}


#outline .post-details td a {
    color: #1d73a8; /* 링크 색상 */
    text-decoration: none;
}

#outline .post-details td a:hover {
    text-decoration: underline;
}

/* 테이블 헤더 스타일 */
#outline .post-details td:first-child {
    font-weight: bold;
    color: rgb(117,147,146); /* 헤더 컬러 */
}


/* Blog thumb */
#outline .blog-thumb {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#outline .blog-thumb img {
     max-width: 80%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

#outline .blog-thumb h1 {
    font-size: 24px;
    margin-top: 15px;
    color: rgb(117,147,146);
}

#outline .blog-thumb p {
    font-size: 16px;
    color: #666;
}
@media (max-width: 768px) {
  #outline .post-details td {
		font-size: 15px;
	}
}

/* main section styles
/* ========================================== */
#main {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

#main .col-md-4 {
  padding-top: 16px;
  padding-bottom: 32px;
}

#main img {
  padding-bottom: 20px;
}

#main blockquote {
  letter-spacing: 2px;
  margin-top: 20px;
}

#main input[type='submit'] {
  background: #111112;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

#main input[type='submit']:hover {
  about: #444;
}

.about-submit {
	width: 50%;
}
#main .col-md-4 {
  background: #fff;
  padding: 62px 0px 32px 42px;
  position: relative;
  bottom: -50px;
}


/* mainex section styles
/* ========================================== */

#mainex img.post-image {
    width: 90%; /* 이미지를 부모 요소의 100% 크기로 설정 */
    height: auto; /* 비율에 맞게 자동 크기 조정 */
    border-radius: 8px; /* 이미지의 모서리를 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 이미지에 그림자 효과 추가 */
}

/* 제목 스타일 */
#mainex h2 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 13px; /* 제목 간 간격 */
    color: #333;
    text-align: center; /* 가운데 정렬 */
}

#mainex h3 {
    font-size: 17px;
    font-weight: 400;
    color: #777;
	text-align: center; /* 가운데 정렬 */
}

#mainex .d-flex {
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
    height: 100%; /* 높이를 부모의 100%로 설정하여 중앙 정렬이 적용되도록 */
}

@media (max-width: 768px) {
  #mainex h2 {
    font-size: 16px;
	}

	#mainex h3 {
		font-size: 15px;
	}
}




/* blog & single post section styles
/* ========================================== */
#blog, 
#single-post {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#blog .blog-thumb {
  padding-top: 60px;
  padding-bottom: 40px;
}

#blog .post-format,
#single-post .post-format {
  padding-bottom: 10px;
}

#blog .post-format span,
#single-post .post-format span {
  color: #888;
  font-weight: 400;
  letter-spacing: 1px;
  padding-right: 10px;
}

#blog .blog-thumb .btn {
  border-radius: 0px;
  padding: 10px 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 22px;
  transition: all 0.4s ease-in-out;
}
#blog .blog-thumb .btn:hover {
  background: #111112;
  border-color: transparent;
  color: #ffffff;
}

#single-post blockquote {
  margin-top: 32px;
  letter-spacing: 2px;
}

.post-image {
	margin: 25px 0px;
}

#single-post .blog-comment,
#single-post .blog-comment-form {
  margin-top: 62px;
}

#single-post .blog-comment h3,
#single-post .blog-comment-form h3 {
  padding-bottom: 20px;
}

#single-post .blog-comment .media {
  padding-bottom: 22px;
}

#single-post .blog-comment .media img {
  padding-right: 14px;
}

#single-post .blog-comment h4 {
  font-weight: 700;
}

#single-post .blog-comment-form .form-control {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#single-post .blog-comment-form input[type="submit"] {
  background: #111112;
  border-color: transparent;
  color: #ffffff;
  height: 50px;
}


/* contact section styles
/* ========================================== */
#contact {
  padding-top: 5rem;
  padding-bottom: 0rem;
}

#contact .fa {
  font-size: 32px;
  padding-right: 10px;
}

#contact #map-canvas  {
  border: none;
  width: 100%;
  height: 300px;
  margin-top: 40px;
}

#contact .contact-form {
  padding-top: 14px;
}

#contact .form-control {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #f0f0f0;
}

#contact textarea {min-height: 100px;}

#contact input {height: 50px;}

#contact input[type='submit'] {
  background: #111112;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

#contact input[type='submit']:hover {
  background: #444;
}

.contact-submit {
	width: 50%;
}

#contact .col-md-4 {
  background: #fff;
  padding: 62px 0px 32px 42px;
  position: relative;
  bottom: -50px;
}



/* agree section styles
/* ========================================== */
.agree-content {
	color: #333;
}
.agree-content p {
	margin: 10px 0;
}
.agree-content strong {
	font-size: 14px;
	color: #333;
}
.agree-content hr {
	border: 1px solid #ddd;
	margin: 20px 0;
}
ul {
	list-style-type: disc;
	margin-left: 20px;
}
ul li {
	margin: 8px 0;
}
.section-title {
	font-size: 15px;
	font-weight: bold;
	margin-top: 16px;
	color: rgb(27, 157, 159);;
}
.btn-submit {
	display: inline-block;
	padding: 10px 20px;
	background-color: #28a745;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 20px;
	font-weight: bold;
}
.btn-submit:hover {
	background-color: #218838;
}
.account-info {
	background-color: #f8f9fa;
	padding: 15px;
	border-left: 5px solid #28a745;
	margin-top: 20px;
}

.account-info p {
	margin: 3px 0;
}
.highlight {
	font-weight: bold;
	color: rgb(27, 157, 159);;
}

.agree-rbtn {
  color:rgb(254,254,254); 
  background-color: #28a745;
  padding: 10px 10px; 
  border-radius: 10px; 
  text-decoration: none; 
  font-weight: bold; 
  display: inline-block; 
  transition: background-color 0.3s, transform 0.3s; 
}

.agree-rbtn:hover {
  background-color: rgb(46, 56, 66); 
  color: #f8f9fa; 
  transform: scale(1.08);
}

.agree-rbtn:active {
  background-color: #1e7e34;
  transform: scale(1.05);
}


/* rules section styles
/* ========================================== */
#rules {
	line-height: 1.6; 
   flex: 1; 
}

/* 전체 제목 스타일 */
#rules h2.chapter-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
	text-indent: 20px; 
}

/* 소제목 스타일 */
#rules h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
	text-indent: 20px; /* 첫 번째 줄 들여쓰기 20px */
}

/* 리스트 스타일 */
#rules ul {
    padding-left: 20px;
    list-style-type: disc;
}

#rules ul li {
    font-size: 16px;
    margin-bottom: 8px;
	margin-left: 38px;
	list-style: none;
}

/* 본문 텍스트 스타일 */
#rules p {
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 1.6;
    color: #333;
	text-indent: 20px; /* 첫 번째 줄 들여쓰기 20px */
}

/* 가로 가운데 정렬 */
#rules .centered-text {
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}

/* 링크 스타일 */
#rules a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
	font-size: 14px;
}

#rules a:hover {
    text-decoration: underline;
}

/* 구분선 스타일 */
#rules hr {
    border: 1px solid #ccc;
    margin: 30px 0;
}

@media (max-width: 768px) {

	#rules h2.chapter-title {
		font-size: 19px;
	}

	/* 소제목 스타일 */
	#rules h3 {
		font-size: 17px;
		margin-bottom: 10px;
	}

	#rules p {
		font-size: 15px;
		line-height: 1.4;
	}
	#rules .centered-text {
		text-align: center;
		font-size: 15px;
		margin-top: 20px;

	}
  }
  
  /* footer section styles
/* ========================================== */

footer {
    width: 100%;
    background-color: #333333; /* 배경색 (배경에 맞게 색을 선택) */
    color: white; /* 텍스트 색상 */
    display: flex; /* flexbox로 설정 */
    justify-content: center; /* 가운데 정렬 */
    text-align: center; /* 기본적으로 텍스트 가운데 정렬 */
    padding: 20px 0; /* 위아래 여백 */
    font-size: 14px; /* 텍스트 크기 */
    z-index: 9999; /* 다른 콘텐츠보다 위에 표시 */
	
}

.container {
    display: block; /* container는 block으로 설정하여 전체 너비를 사용 */
}

footer .footer-cont {
    list-style-type: none; /* 리스트의 마커(불릿) 없애기 */
    padding: 0;            /* 기본 패딩 제거 */
    margin: 0;             /* 기본 마진 제거 */
}

.footer-cont li {
    margin-bottom: 3px;   /* 항목 간 간격 조정 */
	text-align: left;
    letter-spacing: 0.5px;  /* 글자 간격 넓히기 (필요에 따라 숫자 조정) */
}
.footer-cont span {
    margin-left : 30px
}

.footer-cont .designed {
		margin-right: 100px;   /* 항목 간 간격 조정 */
	    position: absolute;
        right: 0;
        display: inline-block;
        width: auto;
        text-align: center;
}

footer button {
	margin-left : 30px;
   font-size: 13px;
   font-weight: bold;
   color: #333333;
}

@media (max-width: 700px) {

	.footer-cont .designed {
		margin-top: 20px;
		text-align: left;
}
  }

/* social icon */
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  border-radius: 100px;
  border: 1px solid transparent;
  color: #909090;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  margin-top: 14px;
  margin-right: 8px;
  margin-left: 8px;
  position: relative;
  top: 0px;
}
.social-icon li a:hover {
  background: #ffffff;
}

/* Responsive Mobile styles
/* ========================================== */
@media (max-width: 768px) {

  .intro-inner {top: 30%; left:47%;}

  #contact .col-md-4 {
    padding: 62px 20px 42px 32px;
  }

  #contact .col-md-4 p {
    font-size: 12px;
  }

  #contact #map-canvas {
    margin-bottom: 60px;
  }
}


@media (max-width: 768px) {

  .brand {
    padding-left: 24px;
  }

  .--one, .header-sub{
    min-height: 380px;
	padding-top: 80px !important;
  }

  #main .col-md-4,
  #single-project .col-md-3 {
    padding-bottom: 32px;
  }

}


@media (max-width: 768px) {

  h1 {
    font-size: 1.3rem;
	
  }
  h2 {
    font-size: 1.0rem;
  }
  h3 {
    font-size: 13px;
    letter-spacing: 3px;
  }
h4 {
  font-size: 10px;
  letter-spacing: 1px;
}

h5 {
  font-size: 9px;
}
  


  .filter-wrapper {
    padding: 0px;
  }

  #contact {
    padding-bottom: 4rem;
  }

  #contact .col-md-4 {
    padding: 32px 20px 22px 62px;
  }
  .contact-submit {
	width: 70%;
  }

}

@media (max-width: 450px) {
  .intro-inner {top: 50%; left:45%;}
  
}

/* faq section styles
/* ========================================== */
#faq {
   color: #333;  /* 어두운 텍스트 색상 */
	line-height: 1.6; /* 문장 간 간격을 넓혀서 읽기 쉽게 */
   flex: 1; /* main 영역이 가능한 공간을 차지하게 함 */
}

.faq-container {
   margin-top: 30px;  /* 컨테이너 상단 여백 */
}

.faq-item {
   margin-bottom: 30px;  /* 각 FAQ 항목 간 간격 */
   padding: 20px;
   border: 1px solid #ddd;  /* 각 항목을 구분하기 위한 테두리 */
   border-radius: 8px;  /* 둥근 모서리 */
   background-color: #f9f9f9;  /* 항목 배경색 */
}

.faq-item header {
            background-color: #1B9C9E;
            color: white;
            padding: 15px;
            font-size: 17px;
            cursor: pointer;
            border-radius: 5px;
			font-weight: bold;
        }

.faq-question {
   font-size: 20px;  /* 질문 제목 크기 */
   font-weight: bold;  /* 질문 제목 강조 */
   margin-bottom: 15px;  /* 제목과 답변 간 간격 */
   color: #0073e6;  /* 질문 제목 색상 */
}

.faq-answer {
   font-size: 16px;  /* 본문 텍스트 크기 */
   line-height: 1.6;  /* 문장 간 간격을 넓혀서 가독성 향상 */
}

.faq-answer p {
   margin-bottom: 15px;  /* 각 문단 간 간격 */
}

.faq-answer hr {
   margin: 20px 0;  /* 구분선 위 아래 간격 */
   border: 0;  /* 기본 구분선 스타일 제거 */
   border-top: 1px solid #ddd;  /* 부드러운 구분선 */
}

@media (max-width: 768px) {

	  .faq-item header { 
		font-size: 15px;
		 margin-bottom: 13px;  /* 제목과 답변 간 간격 */
		
	  }
	  .faq-answer {
	   font-size: 14px;  /* 본문 텍스트 크기 */
	   line-height: 1.2;  /* 문장 간 간격을 넓혀서 가독성 향상 */
	}
	  
  }
  
/* 모달 배경 스타일 */
.modal {
  display: none; /* 기본적으로 모달은 보이지 않음 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 어두운 반투명 배경 */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
}

/* 모달 콘텐츠 스타일 */
.modal-content {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  width: 480px; /* 기본 크기 */
  text-align: center;
  position: absolute;
  
  transform: translate(-50%, -50%) scale(0); /* 초기 상태: 축소 */
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
  border: 2px solid rgb(27, 157, 159); /* 녹청색 테두리 */
  max-width: 90%; /* 작은 화면에서도 크기가 조절되도록 */
  max-height: 80vh; /* 화면의 80% 높이까지 설정 */
  overflow-y: auto; /* 내용이 길어지면 스크롤 가능 */
}

/* 모달 콘텐츠 스타일 */
.modal-content2 {
  background-color: #cccc;
  border-radius: 12px;
  width: 600px; /* 기본 크기 */
  text-align: center;
  position: absolute;
  
  transform: translate(-50%, -50%) scale(0); /* 초기 상태: 축소 */
  transition: transform 0.4s ease, opacity 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
  border: 2px solid rgb(27, 157, 159); /* 녹청색 테두리 */
  max-width: 80%; /* 작은 화면에서도 크기가 조절되도록 */
  max-height: 80vh; /* 화면의 80% 높이까지 설정 */
  overflow-y: auto; /* 내용이 길어지면 스크롤 가능 */
}

/* 모달 제목 스타일 */
.modal-content h2 {
  color: rgb(27, 157, 159); /* 제목에 녹청색 */
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700; /* 제목 두껍게 */
  text-transform: uppercase;
  letter-spacing: 1px;
}


/* 모달 설명 텍스트 스타일 */
.modal-content b {
  font-size: 17px;
}


/* 모달 설명 텍스트 스타일 */
.modal-content p {
  color: #333;
  font-size: 15px;
  margin-bottom: 18px;
}

.modal-content a {
  text-decoration: none; 
  color: rgb(27, 157, 159);
  padding: 8px 10px; 
  border-radius: 5px; 
  font-weight: bold; 
  transition: background-color 0.3s ease; 
}
/* 모바일에서 모달 크기와 폰트 크기 조정 */
@media (max-width: 768px) {
  .modal-content {
    width: 90%; /* 모바일 화면에서는 90%로 크기 조정 */
    padding: 20px; /* 패딩을 줄여서 공간 확보 */
    max-height: 90vh; /* 화면의 80% 높이까지 설정 */
  }
  
  .modal-content2 {
    width: 90%; /* 모바일 화면에서는 90%로 크기 조정 */
  }
  
  .modal-content h2 {
    font-size: 20px; /* 제목 폰트 크기 줄이기 */
  }
  .modal-content b {
	  font-size: 17px;
	}
  .modal-content p {
    font-size: 15px; /* 본문 폰트 크기 줄이기 */
	margin-bottom: 16px;
  }
}

 .close-btn {
    font-size: 30px;               /* 글자 크기 키우기 */
    font-weight: bold;             /* 글자 두껍게 */
    color: #fff;                   /* 텍스트 색상 */
    background-color: rgb(27, 157, 159);     /* 배경 색상 */
    border-radius: 50%;            /* 둥글게 만들기 */
    width: 30px;                   /* 버튼 크기 */
    height: 30px;                  /* 버튼 크기 */
    display: flex;                 /* flex로 가운데 정렬 */
    justify-content: center;
    align-items: center;
    position: absolute;            /* 모달 창에서 위치 설정 */
    top: 10px;                     /* 상단 위치 */
    right: 10px;                   /* 오른쪽 위치 */
    cursor: pointer;              /* 클릭할 수 있는 아이콘 */
    transition: background-color 0.3s ease; /* 배경 색상 변환 효과 */
}

.close-btn:hover {
  color: #bc8a5f; /* 호버 시 붉은 색으로 변경 */
  transform: scale(1.1); /* 버튼 커지기 */
}

/* 애니메이션: 모달이 확대되며 나타남 */
.modal.show .modal-content {
  transform: translate(-50%, -50%) scale(1); /* 확대되며 나타남 */
  opacity: 1;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3); /* 그림자 더 강하게 */
}

/* 모달이 사라질 때 애니메이션 */
.modal.hide .modal-content {
  transform: translate(-50%, -50%) scale(0); /* 접히듯이 축소 */
  opacity: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 그림자 제거 */
}

/* 모달 배경이 등장할 때 애니메이션 */
@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
.icon {
    width: 90px; /* 아이콘 너비 */
    height: 90px; /* 아이콘 높이 */
    display: inline-block;
}
.icons-container {
  display: flex; 
  gap: 10px;
  justify-content: space-evenly; /* 아이콘들 사이에 공간을 균등하게 배치 */
  align-items: top; /* 수직 중앙 정렬 */
  width: 100%; /* 부모 요소의 너비를 100%로 설정 */
  padding: 0 20%; /* 양쪽 여백을 5%로 설정하여 반응형 배치 */
  box-sizing: border-box;
}

.icon-container p {
	
    margin-top: 10px; /* 설명과 아이콘 사이에 여백 */
    font-size: 13px; /* 설명 텍스트 크기 */
	color: #c8ece9;
	width: 68px; 
	word-wrap: break-word;
	vertical-align: top;
}

/* 각 아이콘 스타일 */
.icon.major {
  width: 50px; 
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20%; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease; 
}

/* 마우스 오버 시 크기 커짐 */
.icon.major:hover {
  transform: scale(1.1); 
}

/* 화면이 작아졌을 때: 간격 조정 */
@media screen and (max-width: 768px) {
	
	.icon {
		width: 60px; /* 아이콘 너비 */
		height: 60px; /* 아이콘 높이 */
		display: inline-block;
	}
	.icon-container p {
		width: 63px; 
		font-size: 12px; /* 설명 텍스트 크기 */
	}
  .icons-container {
    padding: 0 7%; 
  }

  .icon.major {
    width: 40px; 
    height: 40px; 
  }
}
